[Desktop Entry]
Version=1.0
Type=Application
Name=Ungoogled Chromium (AppImage)
Exec=ungoogled-chromium -- %u
Icon=chromium
StartupWMClass=chromium-browser
StartupNotify=true
Terminal=false
Categories=Network;WebBrowser;WebDevelopment;Viewer;
Keywords=chrome;internet;browser;chromium;google;ungoogled;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
